img {
    float: left;
    margin: 1.66%;
    width: 30%;
}

h1{
    font-family: 'Righteous', cursive;
    margin-left: 1.66%;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    width: 30%;
}